<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Child Health Care [Electron]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/bulma.css" />
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push(
        "<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>"
      )
    </script>
    <% } %>
    <style>
      body {
        overflow-y: overlay;
      }
      ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background-color: initial;
      }
      ::-webkit-scrollbar-button {
        height: 0;
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgb(127 127 127 / 40%);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 1px 1px 1px 1px;
        box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%),
          inset 0 -1px 0 rgb(0 0 0 / 7%);
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(127 127 127 / 60%);
        background-clip: padding-box;
      }
      ::-webkit-scrollbar-thumb:active {
        background: rgb(127 127 127 / 85%);
        background-clip: padding-box;
      }
      ::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid transparent;
        border-width: 0 0 0 4px;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
    <script>
      if (process.env.NODE_ENV !== 'development')
        window.__static = require('path')
          .join(__dirname, '/static')
          .replace(/\\/g, '\\\\')
    </script>
    <% } %>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
